.cards {
  padding: 4rem;
  background: #fff;
}

h3 {
  text-align: center;
  color: #000000;
  font-size: 1cm;
  font-family: 'roboto' ,'calibri';
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
}

.card-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.card-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));*/
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
  
}

.card-item-link:hover{
  background: rgb(46, 20, 53);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.card-item-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.card-item-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.card-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

/*.card-item:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
}*/

.card-item:hover .card-item-img{
  filter: brightness(50%);
}

.card-item-info {
  padding: 20px 30px 30px;
}

.card-item-text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px; 
  
   
   visibility: hidden;

}

.card-item-link:hover .card-item-text{
 
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  
  visibility: visible;
  max-height: fit-content;

}

.card-item-text:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .card-item {
    margin-bottom: 2rem;
  }
}
